In [ ]:
SELECT vend_name,prod_name,prod_price
from Vendors ,Products
where Vendors.vend_id = Products.vend_id


select vend_name,product_name,prod_price
from vendors INNER JOIN product
on vendors.vend_id = product.vend_id

where  = 
and  = 
and  = 

SELECT cust_name,cust_contact
FROM customers
where cust_id IN (select cust_id
                    from orders
                    where order_name IN ( select order_name
                    from orderItems
                    where prod_id = 'rampage'))

select cust_name,cust_name
from customers,orders,orderItems
where customers.cust_id = orders.cust_id
and oderItems.order_name = orders.order_name
and prod_id = 'rampage'

"两个联结来连接表"

select c1.cust_id,c1.cust_name,c1.cust_contact
from customers as c1,cutomers as c2
where c1.cust_name = c2.cust_name
and c2.cust——conta = 


select customer.cust_id,orders.orders.order_num
from customers right outer orders
on customer.cust_id = 


select customers.cust_id,
        count(orders.order_num) as num_ord
from customers inner join orders
on customers.cust_id = orders.cust_id
group by customers.cust_id

select cust_name,cust_contact,cust_email
from customers
where cust_state in ('IL')
or cust_name = 'full'

union 
 union  all(
    
    s
 )
order by cust_name,cust_contact
insert into customers
values('212'
       '121'
       '13fs'
       'fs'
       's'
       'd'
       'd'
       'vv');




create table customers as 
select * from cus

create table product(
    prod_id  CHAR(10) NOT NULL,
    vend_id  CHAR(10) NOUT NULL
    
    
    
    
    
);

where cust_contact LIKE '[JM]' 'tencent%'



select vend_name, UPPER(vend_name) as VEND_NAME
FROM vendors
ORDER BY vend_name;